build/*
.venv/
.env
.vscode/*
.cache/
__pycache__/
*.pyc
*.log
experiments/workloads*
experiments/workloads/cluster*
experiments/workloads/twitter*
experiments/workloads/wiki
experiments/workloads/ycsb*
experiments/workloads/fiu*
experiments/workloads/mix*
experiments/workloads/changing*
experiments/workloads/ibm*
experiments/workloads/cphy*
experiments/workloads/msr*
experiments/workloads/wiki*
experiments/workloads/meta*
experiments/workload_throughput/*.json
experiments/ycsb_test/*.json
experiments/scripts/results/*
experiments/scripts/more_results/*
experiments/scripts/figs/*
experiments/results/*
experiments/outputs/*
scripts/install/*
lab/*
